@{
    ViewBag.Title = "About";
}
<body style="background-color: #424242; color: #ABABAB;">
    <h1>@ViewBag.Title</h1>
    <h3>WordStockRoom is an application designed to help you learn and practice vocabulary when learning a new language.</h3>
    <br />
    <p>Add a language, then add words and their translations as you learn them. Add sentences to help you see how the words are used, and add videos that may serve as a resource with the word.</p>
</body>