@{
    ViewBag.Title = "Contact";
}
<body style="background-color: #424242; color: #ABABAB;">
    <h1>@ViewBag.Title</h1>
    <h3>Gabriel Alvarez</h3>

    <address>
        <strong>Email:</strong> <span>galvarez2238@gmail.com</span>
    </address>
</body>