@{
    ViewBag.Title = "Home Page";
}

<body style="background-color: #424242; color: #ABABAB;">
    <div class="jumbotron">
        <h1>WordStockRoom</h1>
        <p class="lead">WordStockRoom is an application designed to help you learn and practice vocabulary when learning a new language.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Add a language, then add words and their translations as you learn them. Add sentences to help you see how the words are used, and add videos that may serve as a resource with the word.
            </p>
            <br />
            <p>
                Sign in and go to the Languages tab to get started.
            </p>
        </div>
    </div>
</body>